// .app {
//   width: 800px;
//   margin: 1em auto;
//   text-align: center;
// }

// img {
//   min-height: 150px;
// }
p {
  font-size: 1.5rem;
}

span {
  font-size: 30px;
  color: rgb(225, 7, 237);
  max-width: 16px;
  vertical-align: -6%;
}
