.app {
  margin: 0rem;
  background-color: rgb(8, 8, 8);
}

p {
  font-size: 1.1rem;
}

span {
  font-size: 30px;
  color: rgb(15, 7, 237);
  max-width: 16px;
  vertical-align: -15%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
}

.ui-loader {
  min-height: 350px;
}
